<header>
  <nav class="navbar">
    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a
              class="button"
              href="https://github.com/fredbelotte"
              rel="noopener noreferrer"
              target="_blank"
              >GitHub</a
            >
            <a
              class="button"
              href="https://www.linkedin.com/in/fredbelotte"
              rel="noopener noreferrer"
              target="_blank"
              >LinkedIn</a
            >
            <a
              class="button"
              href="https://twitter.com/fredbelotte"
              rel="noopener noreferrer"
              target="_blank"
              >Twitter</a
            >
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
